.Cell {
  height: 40px;
  width: 140px;
  background-color: green;
  border: 1px solid #353f96;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.on {
  background-color: rgb(27, 141, 69);
}

.off{
  background-color: black;
}

.Cell-lit {
  background-color: white;
  border: 1px solid #ffd700;
}